<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <!--    <include resource="org/springframework/boot/logging/logback/base.xml"/>-->

    <logger name="org.springframework" level="INFO"/>

    <springProfile name="verbose">
        <logger name="org.springframework.transaction.interceptor" level="TRACE"/>
        <logger name="org.springframework.orm.jpa" level="TRACE"/>

        <logger name="io.cockroachdb" level="TRACE"/>
        <logger name="io.cockroachdb.SQL_TRACE" level="TRACE"/>
    </springProfile>

    <springProfile name="!verbose">
        <logger name="io.cockroachdb" level="INFO"/>
        <logger name="io.cockroachdb.SQL_TRACE" level="INFO"/>
    </springProfile>

    <appender name="console_crdb" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan([CRDB]) %yellow(%msg%n)</pattern>
        </encoder>
    </appender>

    <logger name="COCKROACH_PROCESS" level="DEBUG" additivity="false">
        <appender-ref ref="console_crdb"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>

